.centered {
    width: 758px;
    margin: 0 auto;
}

.btn.subscription {
    width: 100%;
}

.btn.queue {
    width: 100%;
}

.clickable {
    cursor: pointer;
}

span.glyphicon-record {
    color: red;
    top: 2px;
}
