.btn.subscription {
    width: 100%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.well {
    margin-bottom: 0;
    border-radius: 0;
}

h1 {
    margin-bottom: 0;
}

.episodeBanner img, .episodeTitle {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
