{% extends "base.html" %}
{% block body %}
    {% for series in queued_series %}
        <div class="series centered">
            <div class="listing clickable" data-toggle="collapse" data-target="#s_{{ series.id }}">
                {% if series.banner %}
                    <div class="episodeBanner">
                        <h1><img class="img-responsive" src="https://thetvdb.com/banners/{{ series.banner }}" alt="{{ series.name }}" title="{{ series.name }}"></h1>
                    </div>
                {% endif %}

                <div class="episodeTitle{% if series.banner %} hidden{% endif %}">
                    <div class="episodeTitleHeight"></div>
                    <div class="episodeTitleHolder">
                        <h1>{{ series.name }}</h1>
                    </div>
                </div>
                <span class="badge title-count">{{ series.num_episodes }}</span>
            </div>

            <div class="collapse episodes" id="s_{{ series.id }}">
            {% for episode in series.episodes %}
                <div class="panel panel-info">
                    <div class="panel-heading episode clickable" data-collapse="ep_{{ episode.episode_id }}">
                        <span class="badge">S{{ episode.season }}E{{ episode.episode }}</span>
                        {{ episode.episode_title }}
                    </div>
                    <div id="ep_{{ episode.episode_id }}" class="collapse">
                        {% if episode.overview %}
                            <div class="panel-body">
                                {{ episode.overview }}
                            </div>
                        {% endif %}
                        <div class="panel-footer">
                            <button class="btn btn-success watch" data-episode="{{ episode.episode_id }}">Watched</button>
                            {% if not loop.first %}
                            <button class="btn btn-info watch-until" data-episode="{{ episode.episode_id }}">Watched through this episode</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block js %}
    <script src="/static/queue.js"></script>
{% endblock %}

{% block css %}
    <link href="/static/queue.css" rel="stylesheet">
{% endblock %}
