{% extends "base.html" %}
{% block body %}
{% if not results %}
    <div class="alert alert-danger centered">
        No results found for this query.
    </div>
{% endif %}
{% for result in results %}
    <div class="searchResult centered">
        {% if result.banner %}
        <div class="episodeBanner">
            <h1><img class="img-responsive" src="http://thetvdb.com/banners/{{ result.banner }}" alt="{{ result.seriesName }}" title="{{ result.seriesName }}"></h1>
        </div>
        {% endif %}
        {% if result.banner %}
        <div class="episodeTitle hidden">
        {% else %}
        <div class="episodeTitle">
        {% endif %}
            <h1 >{{ result.seriesName }}</h1>
        </div>

        {% if result.overview %}
            <div class="well seriesDescription">
                {{ result.overview }}
            </div>
        {% endif %}

        {% if result.subscribed %}
        <button class="btn btn-danger subscription" data-series-id="{{ result.id }}">Unsubscribe</button>
        {% else %}
        <button class="btn btn-success subscription" data-series-id="{{ result.id }}">Subscribe</button>
        {% endif %}
    </div>

    <div class="modal fade unsubscribe" tabindex="-1" role="dialog" for_series="{{ result.id }}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Unsubscribe from {{ result.seriesName }}?</h4>
          </div>
          <div class="modal-body">
            <p>If you unsubscribe, you will permanently lose all record of which episodes you've watched.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" data-series-id="{{ result.id }}">Unsubscribe</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endfor %}
{% endblock %}

{% block js %}
    <script src="static/search.js"></script>
{% endblock %}

{% block css %}
    <link href="/static/search.css" rel="stylesheet">
{% endblock %}
